 /* 全局文字颜色 */

 $txt_color: #999;
 /* 主题色 */

 $theme_color: #ff2626;
 $border_F1: #f1f1f1;
 $border_E6: #e6e6e6;
 $bg_color_F9: #f9f9f9;
 $bg_color_ed: #ededed;
 $font_color_999: #999999;
 $font_color_fff: #ffffff;
 $font_color_333: #333;
 $font_color_666: #666666;
 $btn-color: #5e69ad;
 $bor-color-e7e3: #e7e3e7;

 /* 字体大小 */
 $font-14: 14px;
 $font-16: 16px;
 $font-18: 18px;
 $font-20: 20px;
 $font-22: 22px;
 $font-24: 24px;
 $font-30: 30px;
